body
{
	background-color: #201527;
}

.h1About{color: #1992B5;}

.pAbout{color: #2F829F;}

.hClass{color: #9F512F;}

.hMovie{color: #D1EF66}

.Ord{color: #9CB830;}

.Moodie{color: #FFFD85;}

.Mood{color:  #FFFC35;}

.IntTime {color: #FFB799;}




li{color: #A57E71;}
em{color: #ABC356;}
a{color: pink;}